# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# Large binaries and archives
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store
Thumbs.db

# Workspace settings
.vscode/
.idea/
